/* Color manager */

$header-background: rgba(7, 7, 7, 0.6);
$color-side: #fff;
$background-body: linear-gradient(
  120.24deg,
  rgba(208, 208, 208, 0.76) -0.62%,
  rgba(0, 0, 0, 0.4408) 100%
);
$color-message-body: linear-gradient(91.58deg, #e6e6e6 0%, #ffffff 114.18%);
$nav-button-color: #fff;

/* Font manager */
$font-size-message: 20px;

/* Layout */
$header-height: 64px;
$body-height: calc(100vh - 50px);

/* Forms */
$input-height: 30px;
$input-width: 80%;

@mixin grid-12 {
  display: grid;
  grid-template:
    90% 10% / repeat(2, minmax(3px, 1fr)) repeat(8, minmax(35px, 1fr))
    repeat(2, minmax(3px, 1fr));
  column-gap: 0.83%;
}
